
.gallery {
  width:100%;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
}

li .gallery-class {
    display: flex;
    flex-basis: 20%;
    width: 100%;

}